.recipe-card{
    min-height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
}
.recipe-image{
    border-radius: 2rem;
}

body{
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items:center ;
    margin: 0;
    padding: 0;
    height: 100%;
}
.App{
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-top: 2.5rem; */
    display: flex;
    flex-direction: column;
    /* margin-top: none !important; */
}

.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-left: 1.3rem;  */
    /* padding-right: 3rem; */
    /* padding-top: -8rem !important; */
    font-family: "Montserrat", sans-serif;
    position: inherit;
    margin-top: 1.5rem;
}
.nav-name{
    color: #FF7043;
    font-family: "Quicksand", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 0;
}
.navbar > ul { 
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 20px;
}
.navbar a {
    text-decoration: none;
}

.navsignup {
    background-color: #7FB685;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.signup-button{
    /* padding-right: 1.5rem; */
}

.navtext{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.nav-drop{
    border: solid #7FB685 !important;
    font-size: 18px !important;
    border-width: 3px !important;
    border-radius: 10px;
}

.signup-container{
    height: 591px;
    width: 526px;
    border: solid;
    border-width: 4px;
    border-color:#7FB685;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #7FB685 ;
    display: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1.5rem; */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.login-container{
    height: 515px;
    width: 526px;
    border: solid;
    border-width: 4px;
    border-color:#7FB685;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #7FB685 ;
    display: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1.5rem; */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.yummage-header{
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    padding-top: 2rem;
}


.signup-login{
    color: #7FB685;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.yummage-p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.yummageinput{
    border: none;
    border-color: rgb(127,182,133, 0.3);
    width: 385px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    display: center;
    margin-left: auto;
    /* margin-right: auto; */
    background-color: 	rgb(127,182,133, 0.3);
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
    padding-right: -30px;
    font-weight: 400;
}

.yummage-label{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.5rem;

}
.yummagesubmit{
    background-color: #7FB685 !important;
    width: 385px !important;
    height: 50px !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.user-icon{
    width: 30px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.home-hero{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 3rem;
}
.home-header{
    font-size: 5rem;
    justify-content: center;
    font-weight: 600;
    font-family: "Merriweather", serif;
    margin: 0%;
}
.home-h3{
    font-size: 40px;
    
}
.hero-link{
    background-color: #7FB685;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
}
.hero-content{
    z-index: 0;
    display: flex;
    align-items: flex-start !important;
    /* max-width: 80rem; */
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}