.recipe-card{
    min-height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
}
.recipe-image{
    border-radius: 2rem;
}

body{
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items:center ;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.3rem; 
    padding-right: 3rem;
    padding-top: -8rem;
    font-family: "Montserrat", sans-serif;
    position: inherit;
}
.nav-name{
    color: #FF7043;
    font-family: "Quicksand", sans-serif;
    font-size: 3.5rem;
}
.navbar > ul { 
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 20px;
}
.navbar a {
    text-decoration: none;
}

.navsignup {
    background-color: #7FB685;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.navtext{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.homegif{
    /* justify-content: flex-end; */
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
}

.signup-container{
    height: 500px;
    width: 490px;
    border: solid;
    border-width: 4px;
    border-color:#7FB685;
    border-radius: 10px;
    /* padding-left: 40px;
    padding: 10px; */
    box-shadow: 10px 10px 20px 5px #7FB685 ;
    /* --shadow-color: hsl(220deg 60% 50%) */
    display: center;
    margin-left: auto;
    margin-right: auto;
  
}
.signup-content {
    padding-left: 40px;

}

.signup-header{
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.signup-login{
    color: #7FB685;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.signup-p{
    font-size: 20px;
    margin-top: 0.02px;
    margin-bottom: 50px;
}
.input{
    border: none;
    border-color: rgb(127,182,133, 0.3);
    width: 23rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 20px;
    display: center;
    margin-left: auto;
    margin-right: auto;
    background-color: 	rgb(127,182,133, 0.3);
    /* margin-bottom: 1.5rem; */
    /* padding-left: 1rem; */
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
}

.signup-label{
    font-size: 16px;
    font-weight: 600;

}
.signup-submit{
    background-color: #7FB685;
    border: none;
    display: center;
    justify-items: right;
    width: 385px;
    height: 2.5rem;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    
}
